extends layout

block content
    .container-md
        h1.mt-2 Add Activity
        .alert.alert-danger.alert-dismissible.mt-2.fade.show(role='alert' hidden=!ifError) There are errors in your submission, please correct them and try again.
            button.close(type='button', data-dismiss='alert', aria-label='Close')
                span(aria-hidden='true') &times;
        .alert.alert-danger.alert-dismissible.mt-2.fade.show(role='alert' hidden=!ifErrorUnexpected) Unexpected error, please report this to the developer!
            button.close(type='button', data-dismiss='alert', aria-label='Close')
                span(aria-hidden='true') &times;
        form.needs-validation#activityForm(method='post' action="/api/addActivity" novalidate)
            .form-group.validate-me
                label(for='eventNameEnglish') Event Name (English)
                input.form-control(type='text' id='eventNameEnglish' name="eventNameEnglish" aria-describedby='eventNameHelpEnglish' placeholder="Enter event name here" required=true)
                div.invalid-feedback This field is required
                small.form-text.text-muted(id='eventNameHelpEnglish') This is a required field
            .form-group.validate-me
                label(for='eventNameJapanese') Event Name (Japanese)
                input.form-control(type='text' id='eventNameJapanese' name="eventNameJapanese" aria-describedby='eventNameHelpJapanese' placeholder="Enter Japanese event name here")
                small.form-text.text-muted(id='eventNameHelpJapanese') This is an optional field
            .form-group.form-check
                input.form-check-input#isShowroomStream(type="checkbox" name="isShowroomStream")
                label.form-check-label(for="isShowroomStream") This is a SHOWROOM stream (currently sending to #bot spam for testing)
            .form-group
                label Participants
                br
                .form-check.form-check-inline
                    input.form-check-input(type="checkbox" id="checkboxAll" name="all" onclick="toggleAllSelect()")
                    label.form-check-label(for="checkboxAll") 22/7
                each actor, key in actors
                    //- skip the first object (all) in the actors.json constant
                    if key === "all"
                        //- WebStorm thinks it's wrong but it works, https://github.com/pugjs/pug/issues/759
                        - continue
                    else
                        .form-check.form-check-inline
                            input.form-check-input(type="checkbox" id="checkbox" + key name=key onclick="toggleIndividualSelect(this.id)")
                            label.form-check-label(for="checkbox" + key)= actor["nameEngLast"] + " " + actor["nameEngFirst"]
                small.form-text.text-muted(id='participantsHelp') Required
            .form-row
                .col
                    .form-group.validate-me
                        label(for='eventStartTime') Start time (JST)
                        input.form-control(type="datetime-local" id='eventStartTime' name="eventStartTime" aria-describedby='eventStartHelp' placeholder="Event start time" required=true)
                        div.invalid-feedback This field is required / Invalid date
                        small.form-text.text-muted(id='eventStartHelp') This is a required field. Safari and Firefox are not supported.
                    .form-group
                        .form-check
                            input.form-check-input(type="checkbox" id="isFullDayEvent" name="isFullDayEvent" onclick="toggleFullDayEvent()")
                            label.form-check-label(for="isFullDayEvent") This is a full day event
                        .form-check
                            input.form-check-input(type="checkbox" id="isEndTimeUnknown" name='isEndTimeUnknown' onclick="toggleEndTimeUnknown()")
                            label.form-check-label(for="isEndTimeUnknown") End time is unknown
                .col
                    .form-group.validate-me
                        label(for='eventEndTime') End time (JST)
                        input.form-control(type="datetime-local" id='eventEndTime' name='eventEndTime' aria-describedby='eventStartHelp' placeholder="Event end time" required=true)
                        div.invalid-feedback This field is required / Invalid date
            .form-group.validate-me(id="links")
                label(for="eventLink0") Related Links
                input.form-control(type="url" id="eventLink0" name="eventLink0" aria-describedby="eventLinkHelp" placeholder="https://...")
                small.form-text.text-muted(id='eventLinkHelp') This is an optional field
                button.btn.btn-primary.mt-1(type="button" onclick="addLinkField()") Add Link
            input(type="hidden" id="numRelatedLinks" name="numRelatedLinks" value=1)
            .form-group.validate-me
                label(for="eventTweetLink") Related Tweet
                input.form-control(type="url" id="eventTweetLink" name="eventTweetLink" aria-describedby="eventTweetLinkHelp" placeholder="https://twitter.com/..." pattern="^https?:\\/\\/twitter\\.com\\/(?:#!\\/)?(\\w+)\\/status(es)?\\/(\\d+)\\S*\\/?$")
                small.form-text.text-muted(id='eventTweetLinkHelp') This is an optional field
            button.btn.btn-primary.mb-3(type="submit") Submit

    script(src="javascripts/add.js")