doctype html
html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
        script(src='/jquery/dist/jquery.min.js')
        script(src='/bootstrap/dist/js/bootstrap.bundle.js')
        link(rel='stylesheet', href='@fortawesome/fontawesome-free/css/all.min.css')
    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
            a.navbar-brand(href='/')= title
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item#navHome
                        a.nav-link(href='/')
                            | Home
                            span.sr-only (current)
                    li.nav-item#navAdd
                        a.nav-link(href='/add') Add Activity
                    li.nav-item#navDigest
                        a.nav-link(href='/digest') Weekly Digest
                ul.navbar-nav
                    if (userInfo)
                        li.nav-item.active
                            a.nav-link= `Welcome! ${userInfo.username}#${userInfo.discriminator}`
                        li.nav-item.active
                            a.btn.btn-outline-success.nav-link(href="/auth/logout")
                                | Logout
                    else
                        li.nav-item.active
                            a.btn.btn-outline-success.nav-link(href="/auth/discord")
                                i.fab.fa-discord
                                |  Login via Discord
        block content
        //- footer
        footer
            p.text-center.text-muted.small= `version: ${version}`
                br
                | codename: underworld
        script.
            const path = window.location.pathname;
            if (path === "/") {
                const navItem = document.getElementById("navHome");
                navItem.classList.add("active")
            } else if (path === "/add") {
                const navItem = document.getElementById("navAdd");
                navItem.classList.add("active");
            } else if (path === "/digest") {
                const navItem = document.getElementById("navDigest");
                navItem.classList.add("active");
            }
        block twitterScript